doctype html
html
    head
        title
    body
        ul
            li
                a(href='/admin') Main page
            li
                a(href='/admin/users') Users
            li
                a(href='/admin/stats') Stats
        block content
        script(src="/bundle.js")