extends ./layout.pug

block content
    h4 Stats page
    .container-fluid
        .row
            span Count registered users:
            span.stat-value#count-registered-users
        .row
            span Count online users:
            span.stat-value#count-online-users