extends ../layout.pug
include ../mixins/error-msg.pug

block content
    .login
        h4 Login

        +errorMsg(error)

        .container-fluid
            form(role="form", method="post", action="/login")
                .form-group.row
                    label(for="email") Email
                    input(type="email", name="email", id="email")
                .form-group.row
                    label(for="password") Password
                    input(type="password", name="password", id="password")
                .form-group.row
                    button(type="submit") Enter
                    a(href="/register", class="register-link") Sign up
